@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  font-size: 14px;
}

#converterHeadline {
    margin-bottom: 0;
    margin-top: 1rem;
}

.converterBtn {
    background-color: cornflowerblue;
    border: 1px solid lightgrey;
    cursor: pointer;
    box-shadow: 2px 2px 6px lightgrey;
    border-radius: 4px;
    color: aliceblue;
    padding: 0.4rem;
}

.converterBtn:hover {
    background-color: darkturquoise;
}

.converterBtnMarked {
    background-color: darkturquoise;
}

.converterText {
    margin-top: 6px;
}

.converterInput {
    background-color: lightskyblue;
    border: 1px solid black;
    box-shadow: 2px 2px 6px lightgrey;
    border-radius: 2px;
}

.converterInput:hover {
    background-color: antiquewhite;
}

.converterInput:focus {
    background-color: antiquewhite;
    outline: none !important;
}